<%- include('partials/header'); -%>
<div class="container-fluid" id="aboutsdiv">
    <h1>Abouts</h1>
    <br>
    <p>Weather Man is a website created by me. It uses API to fetch weather data from a website named openweather, filter those and displays on another page. This page is open for any recommendations and suggestions. PLease check out the Contacts page and reach out to me for suggestions. 😊</p>    
</div>
<%- include('partials/footer'); -%>