<%- include('partials/header'); -%>
<div class="container-fluid" id="contactdiv">
    <h1>Contacts</h1>
    <br>
    <i class="fa-solid fas fa-phone"></i>
    <p>+91 9051358890</p>
    <i class="fa-solid fas fa-envelope"></i>
    <p>rupdip.paul97@gmail.com</p>
    <br>
    <div class="container-fluid" id="linksdiv">
        <h5>Other Links</h5>
        <a href="https://www.linkedin.com/in/rupdip-paul-9123a4238/"><i class="fa-brands fab fa-linkedin linkicon fa-lg"></i></a>
        <a href="https://www.facebook.com/rupdip.paul/"><i class="fa-brands fab fa-facebook linkicon fa-lg"></i></a>
        <a href="https://instagram.com/rupdip.paul?igshid=MzNlNGNkZWQ4Mg=="><i class="fa-brands fab fa-instagram linkicon fa-lg"></i></a>
    </div>
</div>

<%- include('partials/footer'); -%>