<%- include('partials/header'); -%>
<div id="homediv" class="container-fluid">
    <form action="/" method="post">
        <div id="formdiv" class="form-group">
            <h1>Choose your city</h1>
            <br>
            <input class="form-control" type="text" name="City" placeholder="City Name">
            <br>
            <button id="getweatherbtn" class="btn btn-dark" type="submit" name="submit">Get Weather</button>
        </div>
    </form>
</div>
<%- include('partials/footer'); -%>